body {
  font-family: "SF Pro Display";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}
.dropshadow {
  box-shadow: 0px 0px 4px 0px #0d6fffc2;
}

.partrick {
  font-family: "Patrick Hand", cursive;
}
